{% extends 'base-auth.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block content %}
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <div class="card mb-3">
            <h3 class="card-header">Register for free acount</h3>
            <div class="card-body">
                <form>

                     
                        <div class="form-group">
                            <label for="user name" class="form-label mt-4">Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="user name">
                          </div>
                          <div class="invalid_feedback invalid-feedback" style="display: none;"></div>
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                     
                      
                      <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <input type="submit" value="Register" class="btn btn-block btn-primary mt-4">
                   
                  </form>
            </div>
           
          </div>

      </div>
      <div class="col-md-3"></div>
    </div>
    <script src="{% static 'js/register.js' %}" ></script>
{% endblock content %}