<!doctype html>
{% load static  %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Truly expanses | {% block title %}{% endblock title %}</title>


    <!-- Bootstrap core CSS -->
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css'%} " rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">

  </head>
  <body>
 .

    <main role="main" >

       {% block content %}
       
       {% endblock content %}
     
    </main>


    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/jquery.js' %}" ></script>
    <script src="{% static 'js/popper.js' %}" ></script>
    
     </body>
</html>
